{% extends 'layout.html' %}

{% block content %}
<div class="basic-desc">
<strong>Name: </strong> Andrei Antoukh / Антух Андреи Андреевичь<br />
<strong>Location: </strong>Madrid (Spain)<br />
<strong>Twitter: </strong><a href="http://twitter.com/#!/niwibe">@niwibe</a><br />
<strong>GitHub: </strong><a href="https://github.com/niwibe">github.com/niwibe</a><br />
<strong>Job: </strong><a href="http://kaleidos.net/A5694F/">http://kaleidos.net/A5694F/</a><br />
</div>
<br />

<h3> Small description: </h3>
I specialize in web development, real time applications and infrastructure design for high scalability.

In my job, I usually working with python and django, but I like to experiment with other technologies that I look "interesting".

<h3> My interests and I working daily with:</h3>

<ul>
<li><strong>Operating System</strong>: FreeBSD and Linux</li>
<li><strong>Programming language</strong>: Python2/3, JavaScript and C++</li>
<li><strong>Databases</strong>: PostgreSQL, MongoDB and Redis</li>
<li><strong>Version control</strong>: git and mercurial</li>
</ul>

<p>And a long list of other tools with which to work or play every day often:
<blockquote>celery, gevent, nodejs, zeromq, nginx, lighttpd, jQuery, tornado, flask, apache, Qt, MySQL, backbonejs and more others...</blockquote></p>


<h3>My photo:</h3>
<img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="870"></img>
{% endblock %}
