{% extends 'layout.html' %}

{% block content %}
<div class="basic-desc">
<strong>Name: </strong> Andrey Antukh / Антух Андрей Андреевичь<br />
<strong>Location: </strong>Madrid (Spain)<br />
<strong>Twitter: </strong><a href="http://twitter.com/#!/niwibe">@niwibe</a><br />
<strong>GitHub: </strong><a href="https://github.com/niwibe">github.com/niwibe</a><br />
<strong>Job: </strong><a href="http://kaleidos.net/A5694F/">http://kaleidos.net/A5694F/</a><br />
</div>
<br />

<h3>Small description:</h3>

<p>Python and Django hacker. C++ and JavaScript lower. I spend a large portion of my time writing code and research.</p>
<p>I specialize on web development (backend and some parts of frontend). Also, i am a system administrator with a lot of
experience with FreeBSD unix systems. In my job, I usually working with python and django, but I like to experiment with
other technologies that I look "interesting".</p>

<h3> My interests and I working daily with:</h3>

<ul>
<li><strong>Operating System</strong>: FreeBSD and Linux</li>
<li><strong>Programming language</strong>: Python2/3, JavaScript and C++</li>
<li><strong>Databases</strong>: PostgreSQL, MongoDB and Redis</li>
<li><strong>Version control</strong>: git and mercurial</li>
</ul>

<p>And a long list of other tools with which to work or play every day often:
<blockquote>celery, gevent, nodejs, zeromq, nginx, lighttpd, jQuery, tornado, flask, apache, Qt, MySQL, backbonejs and more others...</blockquote></p>

<h3>Current own projects:</h3>
<table>
    <tr>
        <td class="name">Green-Mine</td>
        <td class="desc">Project management web application basted on Scrum</td>
    </tr>
    <tr>
        <td class="name">django-redis</td>
        <td class="desc">Redis cache backend for Django</td>
    </tr>
    <tr>
        <td class="name">django-orm-extensions</td>
        <td class="desc">Powerfull orm extensions for orm of django.</td>
    </tr>
    <tr>
        <td class="name">django-superview</td>
        <td class="desc">Django CBV with asteroids (menu, json/ajax response helpers, etc...)</td>
    </tr>

    <tr>
        <td class="name">django-sse</td>
        <td class="desc">HTML5 Server-Sent Events integration with Django.</td>
    </tr>
    <tr>
        <td class="name">sse</td>
        <td class="desc">Python implementation of HTML5 Server-Sent Events protocol.</td>
    </tr>
    <tr>
        <td class="name">backbone-tools</td>
        <td class="desc">Django Form and Lightbox for backbone ( Well integrated with django-superview )</td>
    </tr>
    <tr>
        <td class="name">moment-tokens</td>
        <td class="desc">Unix/Php format tokens for moment.js</td>
    </tr>
    <tr>
        <td class="name">tornado-webtools</td>
        <td class="desc">Micro web framework writen in python3 and build on top of tornado, sqlalchemy and jinja2</td>
    </tr>
</table>

<p>And some others...</p>

<h3>My contrubutions for open source projects:</h3>

<ul>
    <li><strong>Django</strong> - Now can specify which fields to save (<a href="https://docs.djangoproject.com/en/dev/ref/models/instances/#specifying-which-fields-to-save">Link1</a>, <a href="https://github.com/django/django/commit/365853da016f242937a657b488514e2f69fa6d82">Link2</a>)</li>
    <li><strong>Django</strong> - Integration between defered fields and update_fields parameter (<a href="https://docs.djangoproject.com/en/dev/ref/models/querysets/#defer">Link1</a>, <a href="https://github.com/django/django/commit/99321e30cebbffeafc6ae19f4f92a0a665cbf19b">Link2</a>)</li>
    <li><strong>Django</strong> - Ability to the static template tags to store the result to context variable (<a href="https://github.com/django/django/commit/0a68a2994be17ed2669accead331881cb0be41dd">Link</a>)</li>
    <li><strong>FreeBSD</strong> - Updating and improvements of some ports</li>
</ul>

<h3>My photo:</h3>
<img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="870"></img>
{% endblock %}
