{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="basic-desc" style="margin-top: 20px">
                <strong>Name: </strong> Andrey Antukh / Антух Андрей Андреевичь<br />
                <strong>Location: </strong>Madrid (Spain)<br />
                <strong>Twitter: </strong><a href="http://twitter.com/niwibe">@niwibe</a><br />
                <strong>GitHub: </strong><a href="https://github.com/niwibe">github.com/niwibe</a><br />
                <strong>Job: </strong><a href="http://kaleidos.net/A5694F/">http://kaleidos.net/A5694F/</a><br />
            </div>

            <br />
            <img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="900"></img>

            <br />

            <h3>Small description:</h3>
            <p>Python hacker and Clojure enthusiast. Specialized on full-stack web development.</p>

            <h3>Skills & Expertise (large description): </h3>

            <p>More than 4 years of experience with Python and Django using a lot of third party libraries of
            python and django ecosystem like: celery, tornado, gevent; and developing libraries like django-redis
            and django-jinja. Also, I have some contributions on core of django 1.5 and 1.6.

            <p>My second language with 2 years experience is Javascript (or CoffeScript). Currently I have
            some skills as frontend developer using AngularJS or Backbone.Js (Greenmine is one of my opensource projects
            developer entirely with coffescript and AngularJS).</p>

            <p>Clojure is my hobby language (one of the best languages that exists). I do not have much professional
            experience with it, but I have done some small libraries that are available in my github page.</p>

            <p>Out of programming, I have some knowledge of PostgreSQL (performance tuning and high availability setup),
            Redis, Nginx and RabbitMQ.</p>

            <h3>Other minor details:</h3>

            <p>Git is my first election for code version control, but I have worked with mercurial and subversion.</p>
            <p>I use emacs as ide or text editor and Archlinux with DWM as window manager.</p>
            <br />
        </div>
    </div>
</div>
{% endblock %}
