{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <div class="basic-desc" style="margin-top: 20px">
        <strong>Name: </strong> Andrey Antukh / Антух Андрей Андреевичь<br />
        <strong>Location: </strong>Madrid (Spain)<br />
        <strong>Twitter: </strong><a href="http://twitter.com/niwinz">@niwinz</a><br />
        <strong>GitHub: </strong><a href="https://github.com/niwinz">github.com/niwinz</a> and
        <a href="https://github.com/funcool">github.com/funcool</a><br />
      </div>

      <br />
      <img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="430"></img>

      <br />

      <h3>Small description:</h3>
      <p>Software Engineer, specialized on full-stack web development. Highly interested
        in functional programming paradigms.</p>

      <h3>Skills & Expertise (large description): </h3>

      <p>Currently I'm actively programing in three languages: Clojure(Script), JavaScript and Python.
        And in my free time I learn about haskell and rust.</p>

      <p>I have more than 4 years of experience with Python and Django and its ecosystem. I have
        developed (and currently maintaining) a litle bunch of python libraries like
        <a href="https://github.com/niwinz/django-redis">django-redis</a> and <a href="https://github.com/niwinz/django-jinja">django-jinja</a>. And I have some contributions
        to the core of django, available in version 1.5 and 1.6.</p>

      <p>Also, I have almost 3 years of experience as Javascript developer and the last year is
        mostly the main language that I'm using at my work. I have worked with AngularJs, BackboneJs,
        ReactJs and other frameworks and libraries. <br />
        <a href="https://github.com/taigaio">taiga.io</a> is a great example of projects that I have
        developed.</p>

      <p>The last year I spend a almost all my free time researching about functional paradigms and
        learnging and contributing to the opensource using <strong>Clojure</strong> and <strong>ClojureScript</strong>. A this moment
        I don't have professional experinence using them. You can found almost all software that
        I have developed here: <a href="https://github.com/funcool">https://github.com/funcool</a></p>

      <p>And finally, out of programming but not less important, I have knowledge of postgresql
        (as developer and sysadmin), nginx and RabbitMQ.</p>

      <h3>Other minor details:</h3>

      <p>Git is my first election for code version control, but I have worked with mercurial and subversion.</p>
      <p>I use emacs as ide or text editor and Archlinux with DWM as window manager.</p>
      <br />
    </div>
  </div>
</div>
{% endblock %}
