@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700|Anonymous+Pro:400,700");


body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 20px auto 0;
    color: #3E4349;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    color: #8f6b57;
}

li {
    line-height: 24px;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.50em;
}

h3 {
    font-size: 1.25em;
}

a:visited {
    color: #4f7787;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #61968d;
    text-decoration: none;
}

p {
    margin: 0;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

strong, b {
    font-family: "robotobold";
}

.page-title {
    color: #8f6b57;
    margin-bottom: 10px;
    margin-top: 20px;
}

.page-title a {
    font-size: 1.75em;
    font-weight: bold;
    color: #8f6b57;
    color: #74942e;
}

.page-title a:hover {
    text-decoration: none;
}

.home-articles ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.home-articles ul span.date {
    display: block;
    font-size:14px;
    line-height: 14px;
    color: #999;
}

.home-articles ul > li {
    padding-bottom: 10px;
}

.paginator {
    margin-top: 20px;
}

.article h1 {
    margin-bottom: .25em;
}

.article h1 > a {
    color: #8f6b57;
    color: #74942e;
}

.comments {
    margin-top: 20px;
}

.comments h2 {
    font-size: 1.50em;
}

.project-table tr td.name {
    width:185px;
}

table.docutils {
    width: 100%;
    margin-bottom: 20px;
    border: 0px;
}

table.docutils th,
table.docutils td {
    border: 1px solid #aaa;
}

.post-info {
    font-size: 13px;
}

.post-info p {
    margin: 0px;
}

.tags a {
    margin-left: 5px;
}

pre {
    font-size: 14px;
    line-height: 18px;
    border: 0px;
}

.note {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.note p.first {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.paginator a {
    font-family: "robotobold";
    color: #666;
}

.paginator span {
    color: #888;
}
