@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anonymous_proregular';
    src: url('../fonts/anonymous_pro-webfont.eot');
    src: url('../fonts/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anonymous_pro-webfont.woff') format('woff'),
         url('../fonts/anonymous_pro-webfont.ttf') format('truetype'),
         url('../fonts/anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "robotolight", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #483318;
    margin: 20px auto 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto_condensedlight', serif;
    font-weight: 300;
    margin-top: 20px;
    color: #222;
}

li {
    line-height: 24px;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.50em;
}

h3 {
    font-size: 1.25em;
}

a:visited {
    color: #441d7b;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #146894;
    text-decoration: none;
}

p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

strong, b {
    font-family: "robotobold";
}

.page-title {
    margin-bottom: 10px;
}

.page-title a {
    font-size: 28px;
    color: #332411;
}

.page-title a:hover {
    text-decoration: none;
}

.home-articles ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.paginator {
    margin-top: 20px;
}

.article h1 {
    font-family: "roboto_condensedlight", serif;
    color: #332411;
    margin-bottom: .25em;
}

.article h1 > a {
    color: #332411;
}


.comments {
    margin-top: 20px;
}

.comments h2 {
    font-size: 1.50em;
}

.project-table tr td.name {
    width:185px;
}

table.docutils {
    width: 100%;
    margin-bottom: 20px;
    border: 0px;
}

table.docutils th,
table.docutils td {
    border: 1px solid #aaa;
}

.post-info {
    font-size: 13px;
}

.post-info p {
    margin: 0px;
}

.tags a {
    margin-left: 5px;
}

pre {
    font-size: 14px;
    line-height: 16px;
    font-family: "anonymous_proregular";
}

.note {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.note p.first {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.paginator a {
    font-family: "robotobold";
    color: #666;
}

.paginator span {
    color: #888;
}
