{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8 offset2">
            <img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="900"></img>

            <br />
            <div class="basic-desc" style="margin-top: 20px">
                <strong>Name: </strong> Andrey Antukh / Антух Андрей Андреевичь<br />
                <strong>Location: </strong>Madrid (Spain)<br />
                <strong>Twitter: </strong><a href="http://twitter.com/niwibe">@niwibe</a><br />
                <strong>GitHub: </strong><a href="https://github.com/niwibe">github.com/niwibe</a><br />
                <strong>Job: </strong><a href="http://kaleidos.net/A5694F/">http://kaleidos.net/A5694F/</a><br />
            </div>

            <br />

            <h3>Small description:</h3>

            <p>Python and Django hacker. C++ and JavaScript lower. I spend a large portion of my time writing code and research.</p>
            <p>I specialize on web development (backend and some parts of frontend). Also, i am a system administrator with a lot of
            experience with FreeBSD unix systems. In my job, I usually working with python and django, but I like to experiment with
            other technologies that I look "interesting".</p>

            <br />
            <h3>Skills & Expertise</h3>

            <p><strong>Working daily with: </strong> Python2, Python3, Django, Celery, PostgreSQL, Redis, MongonDB, FreeBSD, Linux, Git, JQuery, BackboneJS</p>
            <p><strong>Other technologies that I work very often: </strong> NodeJS, CouchDB, RabbitMQ, Gevent, ZeroMQ, Nginx, tornadoweb, Flask, Apache, Qt, Boost,
                        MySQL, Mercurial and more others...</p>

            <br />
            <h3>Other minor details:</h3>

            <p>My linux distribution is <strong>Archlinux</strong>, <strong>DWM</strong> is my favorite window manager and I'm a fan of Stargate (SG1, Atlantis, Universe)</p>


            <br />

            <h3>Projects:</h3>

            <h4>Own projects:</h4>

            <table class="table table-striped table-bordered table-condensed project-table">
                <tr>
                    <td class="name">Green-Mine</td>
                    <td class="desc">Project management web application basted on Scrum</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/django-redis">django-redis</a></td>
                    <td class="desc">Full featured redis cache backend for Django.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-pgfulltext">djorm-ext-pgfulltext</a></td>
                    <td class="desc">PostgreSQL full-text search integration with django orm.</td>
                </tr>
                <tr>
                    <td class="name"><a href="http://www.niwi.be/2012/10/07/sqlexpressions-and-functions-with-django/">djorm-ext-expressions</a></td>
                    <td class="desc">Facility of complex sql queries for django orm.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-hstore">djorm-ext-hstore</a></td>
                    <td class="desc">PostgreSQL HStore module integraion for django orm.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-pgarray">djorm-ext-pgarray</a></td>
                    <td class="desc">PostgreSQL native array fields extension for Django.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-pggeom">djorm-ext-pggeom</a></td>
                    <td class="desc">PostgreSQL Geometric fields integration with django orm.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-pgbytea">djorm-ext-pgbytea</a></td>
                    <td class="desc">PostgreSQL bytea field integration with django orm.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-pool">djorm-ext-pool</a></td>
                    <td class="desc">DB-API2 connection pool for Django (for postgresql, mysql and sqlite)</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/django-dbconf">django-dbconf</a></td>
                    <td class="desc">Simple app for set some settings on database.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/django-logstream">django-logstream</a></td>
                    <td class="desc">Simple multisite log collector over network build on top of ZeroMQ.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/djorm-ext-core">djorm-ext-core</a></td>
                    <td class="desc">Base package for majory of djorm-ext-* modules. (Helepers and generic methods)</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/django-jinja">django-jinja</a></td>
                    <td class="desc">Nonintrusive jinja2 template system integration for django.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/django-sse">django-sse</a></td>
                    <td class="desc">HTML5 Server-Sent Events integration with Django.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/sse">sse</a></td>
                    <td class="desc">Python implementation of HTML5 Server-Sent Events protocol.</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/kaleidos/backbone-tools">backbone-tools</a></td>
                    <td class="desc">Django Form and Lightbox for backbone ( Well integrated with django-superview )</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/kaleidos/django-superview">django-superview</a></td>
                    <td class="desc">Django CBV with asteroids (menu, json/ajax response helpers, etc...)</td>
                </tr>
                <tr>
                    <td class="name"><a href="https://github.com/niwibe/moment-tokens">moment-tokens</a></td>
                    <td class="desc">Unix/Php format tokens for moment.js</td>
                </tr>
            </table>

            <p>And some others...</p>

            <h4>My contrubutions for open source projects:</h4>

            <p>
                <span><strong><a href="https://github.com/django/django/commits/master?author=niwibe">Django</a></strong></span>,
                <span><strong>FreeBSD</strong></span>,
                <span><strong><a href="https://github.com/dahlia/wand/commits/master?author=niwibe">Python Wand</a></strong></span>
            </p>

            <br />
            <br />
        </div>
    </div>
</div>

{% endblock %}
