{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="basic-desc" style="margin-top: 20px">
                <strong>Name: </strong> Andrey Antukh / Антух Андрей Андреевичь<br />
                <strong>Location: </strong>Madrid (Spain)<br />
                <strong>Twitter: </strong><a href="http://twitter.com/niwibe">@niwibe</a><br />
                <strong>GitHub: </strong><a href="https://github.com/niwibe">github.com/niwibe</a><br />
                <strong>Job: </strong><a href="http://kaleidos.net/A5694F/">http://kaleidos.net/A5694F/</a><br />
            </div>

            <br />
            <img src="https://s3-eu-west-1.amazonaws.com/niwi-web/i2.jpg" width="900"></img>

            <br />

            <h3>Small description:</h3>

            <p>Python hacker and C++ / JavaScript lower. Specialized on full stack web development.</p>

            <br />
            <h3>Skills & Expertise</h3>

            <p><strong>Working daily with: </strong> Python2, Python3, Django, Celery, PostgreSQL, Redis, MongoDB, FreeBSD, Linux, Git, JQuery,
                BackboneJS and AngularJs</p>
            <p><strong>Other technologies that I work very often: </strong> NodeJS, CouchDB, RabbitMQ, Gevent, ZeroMQ, Nginx, tornadoweb, Flask, Apache, Qt, Boost,
                        MySQL, Mercurial and more others...</p>

            <br />
            <h3>Other minor details:</h3>
            <p>My linux distribution is <strong>Archlinux</strong>, <strong>DWM</strong> is my favorite window manager and I'm a fan of Stargate (SG1, Atlantis, Universe)</p>
            <br />
        </div>
    </div>
</div>

{% endblock %}
