<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        {% block html_headers %}
        {% endblock %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/niwibe.css" type="text/css" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
    </head>
    <body id="index" class="home">
        {% include 'github.html' %}
        {% block header %}
        <div class="header container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="page-title">
                        <a href="{{ SITEURL }}/">Andrey Antukh / {{ SITENAME }}</a></a>
                    </div>

                    <p>Python hacker, C++ / JavaScript lover and Clojure enthusiast.</p>
                    <p>To learn more, please go <a href="/about.html">here</a>.
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="footer"></div>
        {% include 'analytics.html' %}
        {% include 'piwik.html' %}
        {% include 'disqus_script.html' %}
    </body>
</html>
