{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  <section id="intro">
    <a href="{{ SITEURL }}/">
      <h1>{{ SITENAME }}</h1>
    </a>
    <p>Hi, I'm <a href="/about.html">Andrey Antukh</a>, a software engineer at
      <a href="http://kaleidos.net">Kaleidos</a>. I enjoy Clojure, Python
      and other languages.<br />
      I am a Russian citizen who lives in Madrid and speaks Catalonian ;)</p>
  </section>

  <section id="article-list">
    {% if articles %}
      <ol>
        {% for article in articles %}
          <li class="truncate">
            <span class="article-date">{{ article.date|strftime('%d %b %Y') }}</span>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      No posts found.
    {% endif %}
  </section>
{% endblock content %}
