{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="container home-articles">
    <div class="row">
        <div class="span10 offset1">
            <h1>Blog</h1>
            <ul class="articles">
                {% for article in articles_page.object_list %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    <span class="date">{{ article.locale_date }}</span></li>
                {% endfor %}
            </ul>
            {% include 'pagination.html' %}
        </div>
    </div>
</div>
{% endblock content %}
